In [2]:
import pandas as pd
from pandas import DataFrame as df
import numpy as np
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt

In [5]:
#Load data from csv and store it in a dataframe
data = pd.read_csv("haberman.csv") #We can change this database

In [6]:
# We show the first individuals
data.head() # Return the first n rows

   Age  Year_of_op  Nbr_of_nodes  Surv_status
0   30          64             1            1
1   30          62             3            1
2   30          65             0            1
3   31          59             2            1
4   31          65             4            1

In [7]:
print(data.shape)

(306, 4)

In [10]:
data.dtypes

Age             int64
Year_of_op      int64
Nbr_of_nodes    int64
Surv_status     int64
dtype: object

In [12]:
data.columns

Index(['Age', 'Year_of_op', 'Nbr_of_nodes', 'Surv_status'], dtype='object')

In [13]:
data.describe()

              Age  Year_of_op  Nbr_of_nodes  Surv_status
count  306.000000  306.000000    306.000000   306.000000
mean    52.457516   62.852941      4.026144     1.264706
std     10.803452    3.249405      7.189654     0.441899
min     30.000000   58.000000      0.000000     1.000000
25%     44.000000   60.000000      0.000000     1.000000
50%     52.000000   63.000000      1.000000     1.000000
75%     60.750000   65.750000      4.000000     2.000000
max     83.000000   69.000000     52.000000     2.000000

In [ ]:
data.describe(include='all')