In [2]:
import pandas as pd
from pandas import DataFrame as df
import numpy as np
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt

# Loading the data

In [3]:
data = pd.read_csv("haberman.csv")
data.head()

   Age  Year_of_op  Nbr_of_nodes  Surv_status
0   30          64             1            1
1   30          62             3            1
2   30          65             0            1
3   31          59             2            1
4   31          65             4            1